.account__page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 12vh;
  flex-direction: column;
}

.account__page__user__info {
  width: 50%;
  min-height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.account__page__user__info > .profile__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
.account__page__user__info .css-2s90m6-MuiAvatar-root {
  font-size: 3rem !important;
}
.upload__profile__photo__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: grey;
  font-size: 0.8rem;
  margin-bottom: 2vh;
}
.account__page__user__info > .account__name,
.account__page__user__info > .account__email {
  font-size: 1.4rem;
  padding: 5px;
  margin: 5px;
}
.change__account__info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5vh;
}
.change__account__info > p {
  cursor: pointer;
}
.change__account__info > p:hover {
  color: var(--first-color);
}

.account__verification__container {
  width: 50%;
  padding: 20px;
}
.account__verification__container > div {
  display: flex;
  width: 100%;
  min-height: 5vh;
  align-items: center;
}
.account__verification__container > div > input {
  border: 1px solid lightgray;
  padding: 10px 8px;
  margin: 10px;
  width: 60%;
}
.account__verification__container > div > button {
  background: var(--first-color);
  border: none;
  font-size: 1rem;
  color: white;
  width: 30%;
  padding: 10px 3px;
}
.account__verification__container > div > button:hover {
  background-color: white;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

.account__email__verify {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5vh 0;
}
.account__email__verify > h4 {
  flex: 0.2;
  display: flex;
  align-items: center;
  height: 100%;
}
.account__email__verify > h6 {
  flex: 0.5;
  display: flex;
  align-items: center;
  height: 100%;
}
.account__email__verify > button {
  flex: 0.3;
  background-color: var(--first-color);
  color: white;
  padding: 5px;
  border: none;
  transition: all 0.3s ease;
  width: max-content;
}
.account__email__verify > button:hover {
  transform: scale(1.2);
}
.email__sent__text {
  background: white;
  color: var(--first-color);
  outline: "none";
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  .account__email__verify {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 1vh 0;
  }
  .email__sent__text {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.account__live__competitions,
.account__ended__competitions {
  width: 80%;
  padding: 3vh 3vw;
  margin-top: 4vh;
  height: max-content !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account__live__competitions > h1,
.account__ended__competitions > h1 {
  color: var(--first-color);
  text-align: center;
  font-size: 2rem;
}

.competitions__container {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  padding: 30px;
}
table.competitions {
  margin-top: 5vh;
  padding: 50px;
  min-width: 50%;
  width: 70%;
}
table.competitions > tr {
  padding: 10px;
  margin: 2vh 0;
}
table.competitions > tr > th {
  padding: 10px;
  font-size: 1.5rem;
  margin-right: 20px;
}
table.competitions > tr > td {
  padding: 10px;
  font-size: 1.2rem;
}
table.competitions > tr > td > button {
  background: var(--first-color);
  color: white;
  padding: 3px 6px;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
}
table.competitions > tr > td > button:hover {
  color: var(--first-color);
  background: white;
  outline: 2px solid var(--first-color);
}
@media (max-width: 768px) {
  .competitions__container {
    width: 95vw;
    padding-left: 5px;
    padding-right: 5px;
  }
  table.competitions {
    width: 100%;
  }
  table.competitions > tr {
    padding: 10px;
    margin: 2vh 0;
  }
  table.competitions > tr > th {
    padding: 10px;
    font-size: 1.2rem;
    margin-right: 20px;
  }
  table.competitions > tr > td {
    padding: 10px;
    font-size: 1rem;
  }
  table.competitions > tr > td > button {
    background: var(--first-color);
    color: white;
    padding: 3px 6px;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
  }
  table.competitions > tr > td > button:hover {
    color: var(--first-color);
    background: white;
    outline: 2px solid var(--first-color);
  }
}
